@import url("https://fonts.googleapis.com/css?family=Baloo+Tamma|Indie+Flower");

h1 {
  font-family: Indie Flower;
}

body {
    background-image: url("http://data.whicdn.com/images/174466662/large.jpg");
}

p {
  font-family: Indie Flower;
}

h1 {
  color: black;
  background-color: pink;
  border: 5px dashed red;
  padding: 5px;
  margin: 20px;
  width: 400px;
}

p {
  color: black;
  background-color: pink;
  border: 5px dashed red;
  padding: 10px;
  width: 300px;
}
h2 {
  color: black;
  background-color: pink;
  border: 5px dashed red;
  padding: 5px;
  margin: 20px;
  width: 115px;
}
